#profImg{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: solid;
    border-color: #3A405A;
  border-width: medium;
}

#picAndMainDogInfo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
}

#mainDogInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px;
}

#dogName{
    color:#3A405A;
    font-weight: bold;
    font-size: 125%;
}

#dogBreed{
    color:#3A405A;
    font-weight: bold;
    font-size: 100%;
}

#dogDetails{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border-radius: 10px;
    border: solid;
    border-color: #3A405A;
  border-width: medium;
  margin-bottom: 20px;
}

#dogDetailsTitle {
    font-weight: bold;
    font-size: 110%;
}

#dogTagList{
    display: flex;
    flex-direction: row;
}

.dogTags{
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    border: solid;
    border-color: #3A405A;
  border-width: medium;
  background-color: #3A405A;
  color: whitesmoke;
  font-weight: bold;
}