.dogIcon{
    height: 100px;
    width: 100px;
    border-radius: 5%;
    border: solid;
    border-color: #3A405A;
  border-width: medium;
}

#dogList{
    list-style-type: none;
}

.dogProfileBtn{
display:flex;
flex-direction: column;
}

#dogList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  list-style: none;
  padding: 0;
}

@media (max-width: 768px) {
  #dogList {
    grid-template-columns: 1fr;
  }
}
